In [36]:
import numpy as np

# Task 1

In [37]:
a = np.array([13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24])
a

array([13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24])

# Task 2

In [38]:
a1 = a.reshape(3, 4)
a1

array([[13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24]])

In [39]:
a2 = a[4:8]
a2 = a2.reshape(2, 2)
a2

array([[17, 18],
       [19, 20]])

In [40]:
a3 = a.reshape(2, 6)
a3

array([[13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24]])

In [41]:
a4 = a.reshape(6, 2)
a4

array([[13, 14],
       [15, 16],
       [17, 18],
       [19, 20],
       [21, 22],
       [23, 24]])

In [42]:
a5 = a.reshape(4, 3)
a5

array([[13, 14, 15],
       [16, 17, 18],
       [19, 20, 21],
       [22, 23, 24]])

# Task 3

In [31]:
a6 = a[:6]
a6 = a6.reshape(2, -1)
a6

array([[13, 14, 15],
       [16, 17, 18]])

In [32]:
a7 = a[:8]
a7 = a7.reshape(4, -1)
a7

array([[13, 14],
       [15, 16],
       [17, 18],
       [19, 20]])

In [33]:
a8 = a[:9]
a8 = a8.reshape(3, -1)
a8

array([[13, 14, 15],
       [16, 17, 18],
       [19, 20, 21]])

In [34]:
a9 = a[2:12]
a9 = a9.reshape(-1, 5)
a9

array([[15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [35]:
a10 = a[4:12]
a10 = a10.reshape(-1, 4)
a10

array([[17, 18, 19, 20],
       [21, 22, 23, 24]])

# Task 4

НетЪ? =)  (Если я правильно понимаю, его можно транспонировать, значит - он думерный)

# Task 5

In [43]:
b = np.random.randn(3, 4)
b

array([[-1.22896499, -0.35981144,  0.23407438, -1.44199375],
       [ 0.79383293, -1.21529274, -0.33902874, -1.3210044 ],
       [-0.5779198 ,  0.37894543,  0.05868145,  0.09442803]])

In [44]:
c = b.flatten() 
c

array([-1.22896499, -0.35981144,  0.23407438, -1.44199375,  0.79383293,
       -1.21529274, -0.33902874, -1.3210044 , -0.5779198 ,  0.37894543,
        0.05868145,  0.09442803])

# Task 6

In [54]:
a = np.arange(2, 22, 2)
a = a[::-1]
a

array([20, 18, 16, 14, 12, 10,  8,  6,  4,  2])

# Task 7

In [56]:
b = a.reshape(-1, 1)
b
# a - одномерный, b - двумерный (можно транспонировать)

array([[20],
       [18],
       [16],
       [14],
       [12],
       [10],
       [ 8],
       [ 6],
       [ 4],
       [ 2]])

# Task 8

In [61]:
a = np.zeros((3, 2))
b = np.ones((2, 2))
b, a

(array([[1., 1.],
        [1., 1.]]),
 array([[0., 0.],
        [0., 0.],
        [0., 0.]]))

In [66]:
v = np.concatenate((a, b), axis=0)
v

(array([[0., 0.],
        [0., 0.],
        [0., 0.],
        [1., 1.],
        [1., 1.]]),
 10)

# Task 9

In [69]:
a = np.arange(0, 12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [70]:
A = a.reshape(4, 3)
A

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [71]:
At = np.transpose(A)
At

array([[ 0,  3,  6,  9],
       [ 1,  4,  7, 10],
       [ 2,  5,  8, 11]])

In [89]:
B = A.dot(At)
B, np.linalg.det(B)

(array([[  5,  14,  23,  32],
        [ 14,  50,  86, 122],
        [ 23,  86, 149, 212],
        [ 32, 122, 212, 302]]),
 0.0)

Обратной не сущетсвует, т.к. определитель равен нулю по определению. ))

# Task 10

In [85]:
np.random.seed(42)
a = np.random.randn(3)*10
np.around(a)

array([ 5., -1.,  6.])

# Task 11

In [87]:
a = np.arange(0, 16)
np.random.shuffle(a)
a

array([ 7, 13, 10,  3, 15,  6,  2, 12,  8,  5,  9, 14,  0,  4, 11,  1])

# Task 12

In [102]:
C = a.reshape(4, 4)
D = C + B*10
D

array([[  57,  153,  240,  323],
       [ 155,  506,  862, 1232],
       [ 238,  865, 1499, 2134],
       [ 320, 1224, 2131, 3021]])

In [91]:
np.linalg.det(D)

-738197.9999999487

In [98]:
D_inv = np.linalg.inv(D)
D_inv

array([[ 0.16572789, -0.59081439,  0.97851254, -0.46798826],
       [-0.28827632,  1.18361334, -1.87610235,  0.87338763],
       [ 0.29643673, -1.04739514,  1.58140363, -0.72163972],
       [-0.10986077,  0.32185267, -0.45903538,  0.20507913]])

In [95]:
np.linalg.matrix_rank(D)

4

# Task 13

In [99]:
D_inv = (D_inv > 0).astype(int)
D_inv

array([[1, 0, 1, 0],
       [0, 1, 0, 1],
       [1, 0, 1, 0],
       [0, 1, 0, 1]])

In [100]:
E = np.where(D_inv, B, C)
E

array([[  5,  13,  23,   3],
       [ 15,  50,   2, 122],
       [ 23,   5, 149,  14],
       [  0, 122,  11, 302]])